



.api_mod_block_header{
    cursor: pointer;
}

.branch {
    z-index:-10;
    _background-color: #efffff;
    font-weight: bold;
    cursor: pointer;
}

.leaf {
    padding-left: 10px;
    border-bottom: 1px solid #777777;
    border-top: 1px solid #777777;
    cursor: pointer;
    z-index: 10;
}


.leaf_active {
    padding-left: 10px;
    border-bottom: 1px solid #999999;
    border-top: 1px solid #999999;
    background-color: #888888;
    cursor: pointer;
    z-index: 10;
}


.docblock {
    position: relative;
    padding-left: 20px;
    /*border-bottom: 1px solid lightgray;*/

    _border: 1px solid blue;

    /* background-color: #fff; */

}

.docblock_header {

    _border: 1px solid red;
    width: 75%;

    font-weight: bold;
    font-size: 12pt;
    _padding: 10px;
    _padding-left: 5px;

    position: relative;
    top: 10px;

}
.docblock_body {

    _border: 1px solid green;
    width: 75%;

    font-size: 10pt;
    _padding: 10px;
    _padding-left: 5px;

    position: relative;
    top: 20px;

    overflow: scroll;

    _height: 600px;

    /*
    // The styling data we're after is actually in a class override for <pre> elements.
    border: 2px solid black;
    border-radius:25px;
    */

}


body{
    font-family: Verdana;
}




.main_content_wrap {
    background: #f2f2f2;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
}




.tab_active{
    cursor:hand;

    height:20px;
    width:100px;
    _left:30px;

    font-size:10pt;

    border:1px solid dimgray;
    position:absolute;
    background-color: lightgrey;
}

.tab_idle{
    cursor:hand;

    height:20px;
    width:100px;
    _left:140px;

    font-size:10pt;

    border:1px solid dimgray;
    position:absolute;
    background-color: grey;
}



/*
pre, code {
    width: 95%;
    color: #222;
    background-color: #fff;

    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    font-size: 14px;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
*/


a {
    color: darkorange;
}